

<!-- vis.js components -->
<!--<link href="/css/vis.min.css" rel="stylesheet" type="text/css" />
<script src="/js/vis.min.js"></script>-->
<!-- vis.js components -->

<script type="text/javascript">


// Pulled from Data Miner Service
function create_indicator(otype, ind_type, value, me) {
    if(otype=="Campaign"){
        data = {
            'value': value,
            'oid': me.attr('data-objid'),
            'ind_type': ind_type,
            'obj_type': me.attr('data-objtype')
        };
    }else{
        data = {
            'value': value,
            'oid': "{{ subscription.id }}",
            'ind_type': ind_type,
            'obj_type': otype
        };
    }
    url = "{% url 'crits.indicators.views.indicator_from_tlo' %}";
    $.ajax({
        type: "POST",
        url: url,
        data: data,
        dataType: "json",
        success: function(data) {
            if (data.success) {
                $('#relationship_box_container').parent().html(data.message);
                if (typeof me !== "undefined") {
                    $(me).attr('title', 'Success!');
                } else {
                    $('#creation_result_misp').text("Success!");
                }
                $(me)
                .css({
                    'background-image': "url('/css/images/ui-icons_70b2e1_256x240.png')"});
                $('#change_misp').delay(1500).trigger('click');
            } else {
                if (typeof me !== "undefined") {
                    $(me).attr('title', data.message);
                } else {
                    $('#creation_result_misp').html(data.message);
                }
            }
        }
    });
    
}




function clear_create_clicks() {
    $('.create_raw_indicator_misp').off('click');
}
function generate_dialog(me) {
    $('#create_raw_indicator_dialog_misp').show();
    $('#create_raw_indicator_dialog_misp').dialog({
        title: 'Create Indicator',
        autoOpen: false,
        modal: true,
        width: "auto",
        height: "auto",
        buttons: {
            'Add Indicator': function() {
                otype = "{{ subscription.type }}";
                ind_type = $('#raw_indicator_type_misp').text();
                value = $('#raw_indicator_value_misp').val();
                create_indicator(otype, ind_type, value, me);
                $(this).dialog('close');
            },
            'Cancel': function() {
                $(this).dialog('close');
            }
        }
    }).dialog('open');
}
// End Data Miner snippets
function generate_misp_success() {
    $('#misp_success_link').show();
    $('#misp_success_link').dialog({
        title: 'MISP Event Creation Results',
        autoOpen: false,
        modal: true,
        width: "auto",
        height: "auto",
        buttons: {
            'Close': function() {
                $(this).dialog('close');
            }
        }
    }).dialog('open');
}

function generate_misp_debug(){
    $('#success_debug').show();
    $('#success_debug').dialog({
        title: 'Oops! Something went wrong.',
        autoOpen: false,
        modal: true,
        width: "auto",
        height: "auto",
        buttons: {
            'Close': function() {
                $(this).dialog('close');
            }
        }
    }).dialog('open');
}


// Pulled from Relationship Service

$(document).ready(function() {
    //$('#draggable').draggable();
    $('#misp_config').draggable();
    $('#add_campaign_div').draggable();
    //$('#obj_details').draggable();

    // default graph lists
    var nodes = [];
    var links = [];

    // var to hold the network graph object
    var network = null;
    var visjs_data = {};

    //$('#node_types').on('change', function() { $('#change_misp').trigger('click'); });

    $(document).on('click', '#change_misp', function(e) {
        $('#graph_container').empty();
        // get data from server.
        var depth = $('#node_depth').val();
        var types = $("#node_types option:selected").map(function(){return this.value}).get().join(",");
        data = {
            depth: depth,
            types: types,
        }
        $.ajax({
            type: "POST",
            url: "{% url 'misp_service.views.get_relationships' subscription.type subscription.id %}",
            dataType: "json",
            data: data,
            async: false,
            success: function(data) {
                if (data.success) {
                    nodes = data.message.nodes;
                    links = data.message.links;
                    rel_types = data.message.rel_types;
                    misp_types = data.message.misp_types;
                    misp_cats = data.message.misp_cats;
                    misp_configs = data.configs;
                    //misp_configs = JSON.stringify(data);
                }
            }
        });
        generate_misp_table(nodes, links);
    });

    $(document).on('click', '#add_campaign_misp', function(e) {
        // Collect id and type for each visible non-campaign node.
        var data = [];
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].visible && nodes[i].type != 'Campaign') {
                data.push({'id': nodes[i].id, 'type': nodes[i].type})
            }
        }

        var name = $("#campaign_names_misp option:selected").text();
        var confidence = $("#confidence_values option:selected").text();
        // Stringify the resulting list of objects. They will be de-serialized
        // on the other end.
        $.ajax({
            type: "POST",
            data: { 'name': name,
                    'nodes': JSON.stringify(data),
                    'confidence': confidence },
            url: "{% url 'misp_service.views.add_campaign_misp' %}",
            success: function(data) {
                $('#campaign_results').text(data.message);
            }
        });
    });
    
    // Modify below function for MISP submission
    
    function getAllValues(div_id){
        var inputValues = $("#"+div_id+" :input").map(function(){
            var type = $(this).prop('type');
            
            // checked radios/checkboxes
            if ((type == 'checkbox' || type == 'radio')){
                var val = $(this).is(':checked');
                var id = this.id;
                var input = {}
                input[id]=val;

                return input;
            }
            else if (type != 'button' || type != 'submit'){
                var val = $(this).val();
                var id = this.id;
                var input = {}
                input[id]=val;
                
                return input;
            }
        })
        return inputValues;
    };
    
    $(document).on('click', '#send_to_misp', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var misp_event_meta_vals = getAllValues('misp_event_meta');
        var misp_attrib_meta_vals = getAllValues('misp_attrib_meta');
        var misp_submit_options = getAllValues('misp_submission_options')
        var misp_data={};
        
        //Process the MISP Event Data
        $.each(misp_event_meta_vals, function(key, value){
            $.each(value, function(k,v){
                if(k=='misp_tags'){
                    misp_data[k]=v.split(",");
                }else{
                    misp_data[k]=v;
                }
            });
        });
        
        //Process the MISP Attribute Data
        /*
        //Example data:
        {"ioc_<crits-id>_<iteration>" : "badguy.com"}
        {"misp-cat_<crits-id>_<iteration>": "Network activity'}
        {"misp-type_<crits-id>_<iteration>": "domain"}
        {"tag-<crits_id>_<iteration>": ""}
        {"misp-toids_<crits_id>_<iteration>": false}
        {"misp-submit_<crits_id>_<iteration>": true}
        */
        misp_data['attribs']={};
        $.each(misp_attrib_meta_vals, function(key, value){
            $.each(value, function(k,v){
                var split_key=k.split("_");
                // If the CRITs unique ID is not under attributes, set the key
                if(!(split_key[1] in misp_data['attribs'])){
                    misp_data['attribs'][split_key[1]]={};
                }
                misp_data['attribs'][split_key[1]][split_key[0]] = v;
                
                if(split_key[0]=='tag'){
                    //Make Attribute tags a list
                    if(misp_data['attribs'][split_key[1]]['tag']!=''){
                        misp_data['attribs'][split_key[1]]['tag']=misp_data['attribs'][split_key[1]]['tag'].split(",");
                    }else{
                        misp_data['attribs'][split_key[1]]['tag']=[];
                    }
                }
                
            });
            
        });

        //Process MISP options (e.g. misp_dedup_events)
        misp_data['options']={}
        $.each(misp_submit_options, function(key,value){
            $.each(value, function(k,v){
                misp_data['options'][k]=v;
            });
        });
        
        //Package all MISP data as 'data'
        data = {misp_data: JSON.stringify(misp_data)};
        //Send it to views (based on URLs structure)
        $.ajax({
            type: "POST",
            url: "{% url 'misp_service.views.send_to_misp'%}",
            dataType: "json",
            data: data,
            async: false,
            success: function(data) {
                if (data.success) {
                    misp_response = data.message;
                    success_html="Success! - <a target='_blank' href='"+misp_configs['misp_url']+"events/view/"+misp_response['misp_data']['event']+"'>";
                    success_html+=misp_configs['misp_url']+"events/view/"+misp_response['misp_data']['event']+"</a>";
                    $('#misp_success #misp_success_link').html(success_html);
                    generate_misp_success();
                }else{
                    misp_response = data;
                    submit_debug = "\r\n\r\nMISP_Data\r\n\r\n";
                    submit_debug += JSON.stringify(misp_data);
                            
                    submit_debug +="\r\n\r\nMISP_Response\r\n\r\n";
                    $.each(misp_response, function(k,v){
                        submit_debug += k+": "
                        submit_debug += JSON.stringify(v)+"\r\n"
                    });
                    
                    $('#misp_success #success_debug').html("<pre>"+submit_debug+"</pre>");
                    generate_misp_debug();
                }
            }
        });
        //generate_misp_table(misp_response)
        
        //Debugging
                
        submit_debug = "";
        
        submit_debug += "\r\n\r\nMISP_Data\r\n\r\n";
        submit_debug += JSON.stringify(misp_data);
                
        submit_debug +="\r\n\r\nMISP_Response\r\n\r\n";
        $.each(misp_response, function(k,v){
            submit_debug += k+": "
            submit_debug += JSON.stringify(v)+"\r\n"
        });
        
        $('#misp_success #success_debug').html("<pre>"+submit_debug+"</pre>");
        /*
        $.each(misp_event_meta_vals, function(k, v){
            submit_debug += JSON.stringify(v)+"\r\n";
            //submit_debug += v+"\r\n";
        });
        
        submit_debug += "\r\n\r\nSERIALIZE:\r\n\r\n";
        submit_debug += $('#misp_event_meta :input').serialize();
        //{"misp_info":"[TEST]"},{"misp_threat":"0"},{"misp_analysis":"2"},{"misp_distro":"0"},{"misp_pub":"False"},{"misp_tags":"BLAH, CRITs"} 
        //SERIALIZE: misp_info=%5BCIRT%5D&misp_threat=0
        
        submit_debug += "\r\n\r\nATTRIBS:\r\n\r\n";        
        $.each(misp_attrib_meta_vals, function(k, v){
            submit_debug += JSON.stringify(v)+"\r\n";
            //submit_debug += v+"\r\n";
        });
        */
        
    });
    

    $("#misp_service_button").click(function() {
        // don't load data more than once.
        // allows switching of tabs without losing graph.
        if (nodes.length > 0) {
            return;
        }

        // Get list of campaigns for selection.
        $.ajax({
            type: "GET",
            url: "{% url 'crits.campaigns.views.campaign_names' %}",
            async: false,
            success: function(data) {
                $.each(data, function (index, value) {
                    $('#campaign_names_misp').append($('<option/>', { 
                        value: value,
                        text : value 
                    }));
                }); 
            }
        });

        $('#change_misp').trigger('click');
    });
    
    // Pulling this section from the Data Miner service
    
    clear_create_clicks();
    //$('.create_raw_indicator_misp').on('click', function(e) {
    $(document).on('click', '.create_raw_indicator_misp', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var me = $(this);
        var value = me.attr('data-val');
        var ind_type = me.attr('data-type');
        otype = "{{ subscription.type }}";
        create_indicator(otype, ind_type, value, me);
    });
    $(document).on('click', '.edit_raw_indicator_misp', function(e) {
        var me = $(this);
        var value = me.attr('data-val');
        var type = me.attr('data-type');
        $('#raw_indicator_value_misp').val(value);
        $('#raw_indicator_type_misp').text(type);
        $('#creation_result_misp').text('');
        generate_dialog(me);
    });
    // End Data Miner Service Snippets
    
    // Change the potential MISP types based on the MISP category selected
    $(document).on('change', ".misp_cat", function(e){
        var type_html = '';
        var val = $(this).val();
        var id = $(this).attr("id");
        id = id.split(/_(.+)/)[1];
        var misp_matched_types=misp_types[val];
        
        $.each(misp_matched_types, function(type_k, type_v){
            type_html+="<option value='"+type_v+"'>"+type_v+"</option>";
        });
        $("[id='misp-type_"+id+"']").html(type_html);
        
    });
    
    function generate_misp_table(nodes, links) {

        $('#misp_config').show()
        .css({'position': 'absolute', 'top': 60, 'right' : 20});
        $('#add_campaign_div').show()
        .css({'position': 'absolute', 'top': 275, 'right' : 20});


        // Generate Step 1
        var step1_nodes=['tlo_labels', 'tlo_relationships', 'step1'];
        var step1_vars = {};
        var html_step1 = "<div id='step1'><h2>Potential Indicators from this object</h2>"
        // Grab the var sets we're interested in
        // This can probably be removed once the 'nodes' are set to only
        // contain the var sets we need
        $.each(nodes, function(index, node){
            //html_step1+=index+": "+JSON.stringify(node)+"\r\n";
            $.each(node, function(key, value){
                if(step1_nodes.indexOf(key) >= 0){
                    //html_step1+=key+": "+value+"\r\n";

                    //step1_vars[key]=JSON.stringify(value);
                    //step1_vars[key]=$.parseJSON(value);
                    step1_vars[key]=value;
                    //step1_vars[key].sort();
                }
            });
        });
 
        /*
        # Step 1 
        Here are all related TLO's for the event (object) you're viewing:
        
        Samples
                                        1fdd7c4364c3b9acc972e2f4ed9900cc
        file.pdf                                                        File Name
        098f6bcd4621d373cade4e832627b4f6                                MD5
        a94a8fe5ccb19ba61c4c0873d391e987982fbbd3                        SHA1
        
        
        
        # Step 2
        Here are all the indicators related to this TLO.
        
        <Event Title Text Box> - based on source/ticket# (GROUP | 12345)
        <Event tags big txt box> - populated from settings (global tag and bucket list)
        
        Indicators
        098f6bcd4621d373cade4e832627b4f6            Payload delivery    md5     <tags>  <to_ids>    <to_misp>
        a94a8fe5ccb19ba61c4c0873d391e987982fbbd3    Payload delivery    sha1    <tags>  <to_ids>    <to_misp>
        
        
        # Step 3 (buttoms)
        
        Update chkbox - Update existing events w/ new indicators/tags
        Submit - package indicators into a MISP event and send it to MISP
        (After Submit - notification with link to MISP event)
        */
        
        
        var ignored_values = ['','[]', 'None']
        
        var indicator_type_dict = {
            'Certificate Fingerprint':'Certificate Fingerprint',
            'Certificate Name':'Certificate Name',
            'crc16':'Checksum CRC16',
            'Command Line':'Command Line',
            'Company name':'Company name',
            'Cookie Name':'Cookie Name',
            'Country':'Country',
            'Debug Path':'Debug Path',
            'Debug String':'Debug String',
            'Destination Port':'Destination Port',
            'domain':'Domain',
            'Email Address':'Email Address',
            'email_from_address':'Email Address From',
            'email_sender':'Email Address Sender',
            'email_helo':'Email HELO',
            'email_message_id':'Email Message ID',
            'email_originating_ip':'Email Originating IP',
            'email_reply_to':'Email Reply-To',
            'email_subject':'Email Subject',
            'email_x_mailer':'Email X-Mailer',
            'email_x_originating_ip':'Email X-Originating IP',
            'event_title': 'Event Title',
            'filename':'File Name',
            'File Path':'File Path',
            'GET Parameter':'GET Parameter',
            'HEX String':'HEX String',
            'imphash':'IMPHASH',
            'ip':'IPv4 Address',
            'IPv4 Subnet':'IPv4 Subnet',
            'IPv6 Address':'IPv6 Address',
            'IPv6 Subnet':'IPv6 Subnet',
            'MAC Address':'MAC Address',
            'md5':'MD5',
            'Malware Name':'Malware Name',
            'mutex':'Mutex',
            'Name Server':'Name Server',
            'POST Data':'POST Data',
            'Payload Type':'Payload Type',
            'Process Name':'Process Name',
            'Referer':'Referer',
            'Registrar':'Registrar',
            'Registry Key':'Registry Key',
            'sha1':'SHA1',
            'sha256':'SHA256',
            'ssdeep':'SSDEEP',
            'Source Port':'Source Port',
            'Tracking ID':'Tracking ID',
            'URI':'URI',
            'User Agent':'User Agent',
            'User ID':'User ID',
            'Victim IP':'Victim IP',
            'WHOIS Address 1':'WHOIS Address 1',
            'WHOIS Address 2':'WHOIS Address 2',
            'WHOIS Name':'WHOIS Name',
            'WHOIS Registrant Email Address':'WHOIS Registrant Email Address',
            'WHOIS Telephone':'WHOIS Telephone',
            'Web Payload':'Web Payload',
            'XPI':'XPI',
        };
        
        var ind_misp_dict = {
            'Certificate Fingerprint': {'cat': 'Network activity',
                                        'type': 'x509-fingerprint-sha1',
                                        'tag': 'Certificate Fingerprint'},
            'Certificate Name': {'cat': 'Network activity',
                                 'type': 'text',
                                 'tag': 'Certificate Name'},
            'Checksum CRC16':{'cat': 'Payload delivery',
                              'type': 'text',
                              'tag': 'Checksum CRC16'},
            'Command Line': {'cat': 'Persistence mechanism',
                             'type': 'text',
                             'tag': 'Command Line'},
            'Company name':{'cat': 'Other',
                            'type': 'text',
                            'tag': 'Company Name'},
            'Cookie Name': {'cat': 'Network activity',
                            'type': 'text',
                            'tag': 'Cookie Name'},
            'Country': {'cat': 'Internal reference',
                        'type': 'text',
                        'tag': 'Country'},
            'Debug Path': {'cat': 'Artifacts dropped',
                           'type': 'pdb',
                           'tag': 'Debug Path'},
            'Debug String': {'cat': 'Artifacts dropped',
                             'type': 'pdb',
                             'tag': 'Debug String'},
            'Destination Port': {'cat': 'Network activity',
                                 'type': 'port',
                                 'tag': 'Destination Port'},
            'Domain': {'cat': 'Network activity',
                       'type': 'domain',
                       'tag': ''},
            'Email Address': {'cat': 'Payload delivery',
                              'type': 'email-src',
                              'tag': 'Email Address'},
            'Email Address From': {'cat': 'Payload delivery',
                                   'type': 'email-src',
                                   'tag': 'Email Address From'},
            'Email Address Sender': {'cat': 'Payload delivery',
                                     'type': 'email-src',
                                     'tag': 'Email Address Sender'},
            'Email HELO': {'cat': 'Payload delivery',
                           'type': 'email-header',
                           'tag': 'Email HELO'},
            'Email Message ID': {'cat': 'Payload delivery',
                                 'type': 'email-message-id',
                                 'tag': ''},
            'Email Originating IP': {'cat': 'Payload delivery',
                                     'type': 'ip-src',
                                     'tag': 'Email Originating IP'},
            'Email Reply-To': {'cat': 'Payload delivery',
                               'type': 'email-reply-to',
                               'tag':''},
            'Email Subject': {'cat': 'Payload delivery',
                              'type': 'email-subject',
                              'tag': ''},
            'Email X-Mailer': {'cat': 'Payload delivery',
                               'type': 'email-x-mailer',
                               'tag': ''},
            'Email X-Originating IP': {'cat': 'Payload delivery',
                                       'type': 'text',
                                       'tag': 'Email X-Originating IP'},
            'File Name': {'cat': 'Payload delivery',
                          'type': 'filename',
                          'tag': ''},
            'File Path': {'cat': 'Payload delivery',
                          'type': 'filename',
                          'tag': 'File Path'},
            'GET Parameter': {'cat': 'Network activity',
                              'type': 'uri',
                              'tag': 'GET Parameter'},
            'HEX String': {'cat': 'Artifacts dropped',
                           'type': 'text',
                           'tag': 'HEX String'},
            'IMPHASH': {'cat': 'Payload delivery',
                        'type': 'imphash',
                        'tag': ''},
            'IPv4 Address': {'cat': 'Network activity',
                             'type': 'ip-dst',
                             'tag': 'IPv4 Address'},
            'IPv4 Subnet': {'cat': 'Network activity',
                            'type': 'ip-dst',
                            'tag': 'IPv4 Subnet'},
            'IPv6 Address': {'cat': 'Network activity',
                             'type': 'ip-dst',
                             'tag': 'IPv6 Address'},
            'IPv6 Subnet': {'cat':'Network activity',
                            'type':'ip-dst',
                            'tag': 'IPv6 Subnet'},
            'MAC Address': {'cat': 'Network activity',
                            'type': 'text',
                            'tag': 'MAC Address'},
            'MD5': {'cat': 'Payload delivery',
                    'type': 'md5',
                    'tag': ''},
            'Malware Name': {'cat': 'Payload delivery',
                             'type': 'malware-type',
                             'tag': 'Malware Name'},
            'Mutex': {'cat': 'Artifacts dropped',
                      'type': 'mutex',
                      'tag': ''},
            'Name Server': {'cat': 'Network activity',
                            'type': 'other',
                            'tag': 'Name Server'},
            'POST Data': {'cat': 'Network activity',
                          'type': 'other',
                          'tag': 'POST Data'},
            'Payload Type': {'cat': 'Payload delivery',
                             'type': 'malware-type',
                             'tag': 'Payload Type'},
            'Process Name': {'cat': 'Artifacts dropped',
                             'type': 'filename',
                             'tag': 'Process Name'},
            'Referer': {'cat': 'Network activity',
                        'type': 'other',
                        'tag': 'Referer'},
            'Registrar': {'cat': 'Attribution',
                          'type': 'whois-registrar',
                          'tag':''},
            'Registry Key': {'cat': 'Artifacts dropped',
                             'type': 'regkey',
                             'tag': ''},
            'SHA1': {'cat': 'Payload delivery',
                     'type': 'sha1',
                     'tag':''},
            'SHA256': {'cat': 'Payload delivery',
                       'type': 'sha256',
                       'tag':''},
            'SSDEEP': {'cat': 'Payload delivery',
                       'type': 'ssdeep',
                       'tag': ''},
            'Source Port': {'cat': 'Network activity',
                            'type': 'port',
                            'tag': 'Source Port'},
            'Tracking ID': {'cat': 'Attribution',
                            'type': 'campaign-id',
                            'tag': 'Tracking ID'},
            'URI': {'cat': 'Network activity',
                    'type': 'uri',
                    'tag': ''},
            'User Agent': {'cat': 'Network activity',
                           'type': 'user-agent',
                           'tag':''},
            'User ID': {'cat': 'Targeting data',
                        'type': 'target-user',
                        'tag': 'User ID'},
            'Victim IP': {'cat': 'Network activity',
                          'type': 'ip-src',
                          'tag': 'Victim IP'},
            'WHOIS Address 1': {'cat': 'Attribution',
                                'type': 'text',
                                'tag': 'WHOIS Address 1'},
            'WHOIS Address 2': {'cat': 'Attribution',
                                'type': 'text',
                                'tag': 'WHOIS Address 2'},
            'WHOIS Name': {'cat': 'Attribution',
                           'type': 'whois-registrant-name',
                           'tag': ''},
            'WHOIS Registrant Email Address': {'cat': 'Attribution',
                                               'type': 'whois-registrant-email',
                                               'tag': ''},
            'WHOIS Telephone': {'cat': 'Attribution',
                                'type': 'whois-registrant-phone',
                                'tag': ''},
            'Web Payload': {'cat': 'Payload delivery',
                            'type': 'other',
                            'tag': 'Web Payload'},
            'XPI': {'cat': 'Payload delivery',
                    'type': 'other',
                    'tag': 'XPI'},
        };
        
        
        
        
        // Build the HTML
        
        // Get the MISP title
        var misp_title='';
        $.each(step1_vars['tlo_labels'], function(k, v){
            if(v=='{{ subscription.id }}'){
                misp_title=k;
            }
        });
        
        $.each(step1_vars['step1'], function(key, value){
            // Check if this is an Indicator
            if(key=="Indicator"){
                // Generate Step 2
                html_step2="<div id='step2'><h2>Indicators to send to MISP</h2>";
                html_step2+="<div id='form-misp'>";
                html_step2+="<table class='form' id='misp_event_meta'>";
                html_step2+="<colgroup><col width='20%'><col width='80%'></colgroup>";
                html_step2+="<tbody>";
                html_step2+="<tr>";
                html_step2+="<th>MISP Event Info:</th>"
                if(misp_configs['event_prefix']==''){
                    html_step2+="<td><input id='misp_info' name='misp_info' type='text' value='"+misp_title+"'></td>";
                }else{
                    html_step2+="<td><input id='misp_info' name='misp_info' type='text' value='"+misp_configs['event_prefix']+" | "+misp_title+"'></td>";
                }
                html_step2+="</tr>";
                html_step2+="<tr>";
                html_step2+="<th>Threat Level:</th><td><select id='misp_threat' name='misp_threat'>";
                html_step2+="<option value=4 selected>Undefined</option>";
                html_step2+="<option value=3>Low</option>";
                html_step2+="<option value=2>Medium</option>";
                html_step2+="<option value=1>High</option>";
                html_step2+="</select></td>";
                html_step2+="</tr>";
                html_step2+="<tr>";
                html_step2+="<th>Analysis:</th><td><select id='misp_analysis'>";
                html_step2+="<option value=0>Initial</option>";
                html_step2+="<option value=1>Ongoing</option>";
                html_step2+="<option value=2 selected>Completed</option>";
                html_step2+="</select></td></tr>";
                html_step2+="<tr>";
                html_step2+="<th>Distribution:</th><td><select id='misp_distro'>";
                html_step2+="<option value=0 selected>Your organisation only</option>";
                html_step2+="<option value=1>This community only</option>";
                html_step2+="<option value=2>Connected communities</option>";
                html_step2+="<option value=3>All communities</option>";
                html_step2+="</select></td></tr>";
                html_step2+="<tr>";
                html_step2+="<th>Publish Event:</th><td><input id='misp_pub' type='checkbox'/></td>"
                html_step2+="<tr>";
                html_step2+="<th>MISP Event Tags:</th><td><input id='misp_tags' type='text' value='"+misp_configs['default_tags']+"'/></td>";
                html_step2+="</tr>";
                html_step2+="</tbody>";
                html_step2+="</table>";
                html_step2+="<table class='chart' id='misp_attrib_meta'>";
                html_step2+="<colgroup><col width='20%'><col width='20%'><col width='20%'><col width='20%'><col width='10%'><col width='10%'></colgroup>";
                html_step2+="<tbody><tr><th>Value</th><th>MISP Category</th><th>MISP Type</th><th>MISP Attribute Tags</th><th>To IDS</th><th>Send to MISP</th></tr></tbody>";
                
                // For each indicator object
                var i=0; // Unique row counter
                $.each(value, function(objk, objv){
                    html_step2+="<tbody><tr>"
                    html_step2+="<td><input id='ioc_"+objk+"_"+i+"' type='text' size='50' value='"+$('<div/>').text(objv['label']).html()+"'/></td>"
                    
                    // Get the MISP equivalent of this indicator type
                    selections={}
                    if(objv['type'] in ind_misp_dict){
                        selections=ind_misp_dict[objv['type']]
                    }else{
                        selections={'cat':'Other',
                                    'type':'other',
                                    'tag':''}
                    }
                    html_step2+="<td><select class='misp_cat' id='misp-cat_"+objk+"_"+i+"'>"
                    $.each(misp_cats, function(cat_k, cat_v){
                        if(cat_v==selections['cat']){
                            html_step2+="<option value='"+cat_v+"' selected>"+cat_v+"</option>"
                        }else{
                            html_step2+="<option value='"+cat_v+"'>"+cat_v+"</option>"
                        }
                    });
                    html_step2+="</select></td>"
                    
                    
                    // MISP Types (matching with categories)
                    var misp_matched_types=misp_types[selections['cat']];                    
                    html_step2+="<td><select class='misp_type' id='misp-type_"+objk+"_"+i+"'>"
                    $.each(misp_matched_types, function(type_k, type_v){
                        if(type_v==selections['type']){
                            html_step2+="<option value='"+type_v+"' selected>"+type_v+"</option>"
                        }else{
                            html_step2+="<option value='"+type_v+"'>"+type_v+"</option>"
                        }
                    });
                    html_step2+="</select></td>"
                    
                    // MISP Attribute Tags
                    html_step2+="<td><input id='tag_"+objk+"_"+i+"' type='text' value='"+selections['tag']+"'/></td>"
                    html_step2+="<td><input id='misp-toids_"+objk+"_"+i+"' type='checkbox'></td>"
                    html_step2+="<td><input id='misp-submit_"+objk+"_"+i+"' type='checkbox' checked='true'/></td>"
                    html_step2+="</tr></tbody>"
                    
                    i+=1;
                });
                html_step2+="</table>"
                html_step2+="<div id='misp_submission'>"
                html_step2+="<div id='misp_submission_options'>"
                html_step2+="<input id='misp_dedup_events' type='checkbox' checked='true'/>Update existing MISP events with the same Event Info"
                html_step2+="</div>"
                html_step2+="<button id='send_to_misp'>Send to MISP</button>"
                html_step2+="</div>"
                html_step2+="</div>";
                
            }
            //Ignore objects that don't translate well to MISP
            else if(key=="RawData"||key=="PCAP"||key=="Target"||key=="Backdoors"||key=="Exploit"||key=="Campaign"||key=="Event"){}
            // Need to figure out how to handle the Event data to add an internal reference to MISP
            else{           
                // If not excluded TLO or Indicator, build Step 1
                html_step1+="<div id='step1-header'><h4>";
                html_step1+=key;
                html_step1+="</h4></div><div id='step1-tlos'><table class='chart'>";
                html_step1+="<colgroup><col width='15px'><col width='57%'><col width='40%'></colgroup>"
                html_step1+="<tbody><tr><th colspan='2'>Object</th><th>Object Type</th>"
                html_step1+="</tr></tbody>"
                // For each object in the TLO type
                $.each(value, function(objk, objv){
                    // For each indicator in the object
                    html_step1+="<tbody><tr><th colspan='3'>"+$('<div/>').text(objv['label']).html()+"</th></tr></tbody>"
                    $.each(objv, function(k, v){
                        if(k in indicator_type_dict && ignored_values.indexOf(v)<0 && v!=''){
                            ind_k = indicator_type_dict[k]
                            html_step1+="<tbody><tr><td class='ui-icon ui-icon-plusthick create_raw_indicator_misp' data-type='"+$('<div/>').text(ind_k).html()+"' data-val='"+$('<div/>').text(v).html()+"' data-objid='"+$('<div/>').text(objk).html()+"' data-objtype='"+$('<div/>').text(key).html()+"'></td>"
                            html_step1+="<td class='ui-icon ui-icon-pencil edit_raw_indicator_misp' data-type='"+$('<div/>').text(ind_k).html()+"' data-val='"+$('<div/>').text(v).html()+"' data-objid='"+$('<div/>').text(objk).html()+"' data-objtype='"+$('<div/>').text(key).html()+"'></td>"
                            html_step1+="<span class='tlo'><td class='potential_indicator'><a class='potential_link' href='/search/?search_type=global&q="+$('<div/>').text(v).html()+"'>"+$('<div/>').text(v).html()+"</a></td></span>"
                            html_step1+="<td>"+$('<div/>').text(ind_k).html()+"</td>"
                            
                            /*
                            // TURNS OUT THIS WAS IRRELEVANT
                            // Get the CRITs relationship types
                            html_step1+="<td><select>"
                            $.each(rel_types, function(rel_k, rel_v){
                                if(rel_v=="Related To"){html_step1+="<option selected value='"+rel_v+"'>"+rel_v+"</option>";}
                                else{html_step1+="<option value='"+rel_v+"'>"+rel_v+"</option>";}
                                
                                
                            });
                            html_step1+="</select></td>"
                            
                            // Get the related objects, sorted
                            html_step1+="<td><select>"
                            label_keys = Object.keys(step1_vars['tlo_labels'])
                            label_keys.sort();
                            for (var i=0; i<label_keys.length; i++){
                                var label_key = label_keys[i];
                                var label_val = step1_vars['tlo_labels'][label_key];
                                if(label_val=="{{ subscription.id }}"){html_step1+="<option value='"+label_val+"' selected>"+label_key+"</option>";}
                                else{html_step1+="<option value='"+label_val+"'>"+label_key+"</option>";}
                                
                            }
                            html_step1+="</select></td>"
                            */
                            
                            //$.each(step1_vars['tlo_labels'], function(key2, value2){
                            //    html_step1+="<option value='"+value2+"'>"+key2+"</option>"
                            //});
                            
                            
                            html_step1+="</tr></tbody>";
                        }
                    });
                });
                html_step1+="</table></div>";
            }
        });

        html_step1+="</div>";
        if (typeof html_step2!='undefined'){
            html_step2+="</div>";
        }else{
            html_step2="";
        }
        
        full_html=html_step1+html_step2
        $('#main_container').html(full_html);
        //$('#debug_container').html(misp_configs);

        
        // Debugging area
        /*
        var html_raw = "<p><b>Raw Data:</b></p>";
        
        html_raw += "Nodes:<br/><pre>";
        $.each(nodes, function(index, node){
            $.each(node, function(key, value){
                html_raw+=key+": "+value+"\r\n";
            });
            html_raw+="<br/>";
        });
        html_raw += "\r\n\r\n";
        html_raw += "\r\nLinks:\r\n";
        $.each(links, function (index, link){
            $.each(link, function(key, value){
                html_raw+=key+": "+value+"\r\n";
            });
            html_raw+="\r\n";
        });
        
                
        
        html_raw += "\r\n\r\n</pre>";
        $('#debug_container').html(html_raw);
        */
        
        
    };
});

</script>
<style>
#draggable {
    width: 100px;
    z-index: 5;
    float: left;
}
#misp_config {
    width: 100px;
    z-index: 5;
    float: right;
}
#add_campaign_div {
    width: 100px;
    z-index: 5;
    float: right;
}
#obj_details {
    width: 300px;
    height: 200px;
    z-index: 5;
    float: left;
}

#main_container {
border: 1px solid #CCCCCC;
margin-left: 150px;
margin-right: 150px;
width: 800;
height: 1000;
}

#debug_container {
border: 1px solid #CCCCCC;
margin-left: 150px;
margin-right: 150px;
width: 800;
height: 1000;
}

#graph_legend {
    margin-left: -15px;
}

#step1{
    white-space: pre-wrap;
}

.create_raw_indicator_misp {
    display: inline-block;
    min-width: 15px;
    max-width: 15px;
}

.edit_raw_indicator_misp {
    display: inline-block;
    min-width: 15px;
    max-width: 15px;
}

.potential_indicator {
    text-align: left;
}

#raw_indicator_value_misp {
    min-width: 100%;
    max-width: 100%;
}


#misp_event_meta {
    /*margin: 0 auto;*/
    width: 100%;
}

#misp_event_data tbody tr td {
    background-color: #f9f9f9;
}

#misp_event_data tbody tr th {
    background-color: #f9f9f9;
}

#misp_event_data tbody tr {
    background-color: #f9f9f9;
}

#misp_submission {
    width: 100%;
    margin-top: 10px;
}

#misp_submission_options{
    width:100%;
    text-align:center;
}

#send_to_misp {
    width:100%;
    text-align:center;
    font-size: x-large;
    margin-top: 15px;
}

#misp_event_meta tbody tr td input[type="text"] {
    background: white;
    height: 20px;
    border: 0px;
    width: 90%;
    padding-left: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

</style>

<div id="misp_service" width="100%">
    <div id="main_container">
    </div>
    
    <div id="misp_success">
        <div id="misp_success_link" style="display:none;"></div>
        <div id="success_debug" style="display:none;"></div>
    </div>
    
    <div id="debug" style="display:none;">
        <pre> {# filter force_escape #}{# debug #}{# endfilter #} </pre>
    </div>
    
    <div id="debug_container">
    </div>
    
    
    <div id="misp_config" class="ui-widget-content" style="display: none;">
        <div style="vertical-align: top; padding-top: 8px;">Depth:
            <input id="node_depth" size="3" type="text" value="3" name="depth" style="vertical-align: top;"></input>
        </div>
        <select id="node_types" name="types" size=11 multiple>
            <option value="Actor" selected="selected">Actors</option>
            <option value="Backdoor" selected="selected">Backdoors</option>
            <option value="Campaign" selected="selected">Campaigns</option>
            <option value="Certificate" selected="selected">Certificates</option>
            <option value="Domain" selected="selected">Domains</option>
            <option value="Email" selected="selected">Emails</option>
            <option value="Event" selected="selected">Events</option>
            <option value="Exploit" selected="selected">Exploit</option>
            <option value="Indicator" selected="selected">Indicators</option>
            <option value="IP" selected="selected">IPs</option>
            <option value="PCAP" selected="selected">PCAPs</option>
            <option value="RawData" selected="selected">Raw Data</option>
            <option value="Sample" selected="selected">Samples</option>
            <option value="Target" selected="selected">Targets</option>
        </select>
        <button id="change_misp" style="vertical-align: top;">Update</button>
    </div>
    <div id="add_campaign_div" class="ui-widget-content" style="display: none;">
        <select id="campaign_names_misp" name="campaigns">
        </select>
        <select id="confidence_values" name="confidence_values">
            <option value="low" selected="selected">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        <button id="add_campaign_misp" style="vertical-align: top;">Add Campaign</button>
        <div id="campaign_results"></div>
    </div>
</div>
<div id="create_raw_indicator_dialog_misp" style="display: none;">
    <form id="form-raw-indicator">
        <b>Type:</b> <span id="raw_indicator_type_misp"></span><br />
        <b>Value:</b> <input type="text" id="raw_indicator_value_misp" />
    </form>
    <div id="creation_result_misp"></div>
</div>
