

<script>
$(document).ready(function() {
    $("#timeline_service_button").click(function() {
        $.ajax({
            type: "POST",
            url: "{% url 'timeline_service-views-get_timeline' subscription.type subscription.id %}",
            success: function(data) {
                if (data.success) {
                    $('#timeline_service').html(data.message);
                }
            }
        });
    });
});
</script>
<style>
</style>

<div id="timeline_service" width="100%">
</div>
