<style type="text/css" media="screen">
	/* Custom CSS rules for TAXII Service tab content. */

	#taxii_form_table {
		table-layout: fixed;
		text-align: center;
		width: 100%;
	}
	#taxii_form_table select {
		max-width: 100%;
		width: 300px;
		margin-bottom: 10px;
	}
	#taxii_form_table input:not([type="checkbox"]) {
		max-width: 100%;
		width: 300px;
	}
	#taxii_form_table input {
		margin-bottom: 10px;
	}
	#stix_src_fields select {
		margin-bottom: 0px;
	}
	.taxii-table {
		width: 100%;
		border-collapse: collapse;
	}
	.taxii-table thead tr {
		border-bottom: 2px solid rgba(25, 25, 25, .8);
		font-size: 16px;
	}
	.taxii-table tbody tr {
		font-size: 13px;
		border-top: 1px solid rgba(25, 25, 25, .2);
	}
	.taxii-table tbody td {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.high_priority {
		color: #F30000;
	}
	.taxii-container {
		padding: 25px 5px 25px 5px;
	}
	.taxii_ctype_label {
		font-size: 14px;
	}
	.required {
		color: #3399ff;
	}
	.taxii_btn {
		background-color: rgb(250,250,250);
		color: #121212;
		font-size: 14px;
		padding: 7px 12px;
		border-radius: 3px;
	}
	.taxii_btn:hover {
		background-color: rgb(215,215,215);
	}
	.taxii_btn:hover {
		background-color: rgb(175,175,175);
	}
	.taxii_notice {
		font-size: 16px;
	}
	.limited_ctr {
		width: 50%;
		max-height: 350px;
		margin: 15px auto;
		overflow-y: auto;
		padding: 15px 15px;
		background-color: white;
		border-radius: 5px;
		border: 1px solid rgba(50, 50, 50, .8);
	}
	.taxii-failed {
		background-color: rgba(200, 0, 0, .3);
	}
	.taxii-success {
		background-color: rgba(0, 200, 0, .3);
	}
	.text-left {
		text-align: left;
	}
</style>
