

<script>
$(document).ready(function() {
    $("#run_yara_rule").click(function() {
        data = {'rule': $('#rule_field').val()};
        $.ajax({
            type: "POST",
            url: "{% url 'yara_service-views-get_yara_result' subscription.id %}",
            data: data,
            dataType: "json",
            success: function(data) {
              if (data) {
                  $('#result_field').val(data.message);
              }
            }
        });
    });
});
</script>

<style>
    .yara_textarea {
        width: 100%;
        height: 300px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>

<div id="yara_rule_tester">

    <table width="100%" style="width: 100%;">
        <tr>
            <td width="50%">
                <div id="rule" class='content_box' style="width: 100%;min-height:300px;">
                    <h3 class="titleheader" with="100%">
                        <span>Custom Rule</span>
                    </h3>
                    <textarea id="rule_field" class="yara_textarea">
rule my_rule
{
    meta:
        alert_severity = "LOW"
        log = "false"
        reference = "reference"
        author = "{{ user.first_name }} {{ user.last_name }}"
        weight = 0
        alert = false
        source = "{{ user_organization }}"
        version = 1
        backdoor = "backdoor"
        description = "description"
        date = "{{ current_datetime }}"

    strings:
        $a = "foo"

    condition:
        $a
}
                    </textarea>
                </div>
            </td>
            <td width="50%">
                <div id="result" class='content_box' style="width: 100%;min-height:300px;">
                    <h3 class="titleheader" with="100%">
                        <span>Rule Results</span>
                    </h3>
                    <textarea id="result_field" class="yara_textarea"></textarea>
                </div>
            </td>
        </tr>
    </table>
    <button id="run_yara_rule" class="mini_button" style="float: left;">Test Rule</button>
    <br />
</div>
