<tr>
    <td class="tlp_{{data.share_level}} share_level">
    </td>
    <td>
        {% include custom_template %}
    </td>
    <td>
        {% if exists %}
            {% if type == 'Threat Descriptors' %}
                <a href="{% url 'crits.core.views.details' 'Indicator' objectid %}" style="display:inline-block; float: right;"><span class="ui-icon ui-icon-alert" title="Object exists already"></span></a>
            {% else %}
                <a href="{% url 'crits.core.views.details' 'Sample' objectid %}" style="display:inline-block; float: right;"><span class="ui-icon ui-icon-alert" title="Object exists already"></span></a>
            {% endif %}
        {% else %}
            <span class="ui-icon ui-icon-alert" title="Not enough data to import" style="display:inline-block; float: right";></span>
        {% endif %}
        <button class="import" name="import" style="float: right;" data-id="{{data.id}}" data-type="{{type}}">Import</button>
        <a href="#" style="display:inline-block; float: right"><span class="import_result"></span></a>
    </td>
</tr>
