<table>
    <colgroup>
        <col width="1100px">
    </colgroup>
    <tr>
        <td>
            <table>
                <colgroup>
                    <col width="100px">
                    <col width="350px">
                </colgroup>
                <tr>
                    <td><b>Indicator:</b></td>
                    <td>{{ data.indicator }}</td>
                </tr>
                <tr>
                    <td><b>Type:</b></td>
                    <td>{{ data.type }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
