{% extends "base.html" %}


{% block title %}Snugglefish Status{% endblock %}

{% block content %}

<div class="content_box">
    <h3 class="titleheader">
    <span>Snugglefish Status</span>
    </h3>
    <div class="content_body">
        <br />
    {% for index in data %}
        <table class="vertical" width="100%">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td class="key">Name</td>
                <td>{{ index.name }}</td>
            </tr>
            <tr>
                <td class="key">Created</td>
                <td>{{ index.created }}</td>
            </tr>
            <tr>
                <td class="key">Last Update</td>
                <td>{{ index.last_update }}</td>
            </tr>
            <tr>
                <td class="key">Last ID</td>
                <td>{{ index.last_id }}</td>
            </tr>
            <tr>
                <td class="key">Total</td>
                <td>{{ index.total }}</td>
            </tr>
            <tr>
                <td class="key">Count</td>
                <td>{{ index.count }}</td>
            </tr>
            <tr>
                <td class="key">Percent</td>
                <td>{{ index.percent }}</td>
            </tr>
            </tbody>
        </table>
        <br />
    {% endfor %}
    </div>
</div>

{% endblock %}
