

<!-- vis.js components -->
<link href="/css/vis.min.css" rel="stylesheet" type="text/css" />
<script src="/js/vis.min.js"></script>
<!-- vis.js components -->

<script type="text/javascript">

$(document).ready(function() {
    $('#draggable').draggable();
    $('#graph_config').draggable();
    $('#graph_actions').draggable();
    $('#obj_details').draggable();

    // default graph lists
    var nodes = [];
    var links = [];

    // var to hold the network graph object
    var network = null;
    var visjs_data = {};

    $('#node_types').on('change', function() { $('#change_graph').trigger('click'); });

    $(document).on('click', '#change_graph', function(e) {
        $('#graph_container').empty();
        // get data from server.
        var depth = $('#node_depth').val();
        var types = $("#node_types option:selected").map(function(){return this.value}).get().join(",");
        data = {
            depth: depth,
            types: types,
        }
        $.ajax({
            type: "POST",
            url: "{% url 'relationships_service-views-get_relationships' subscription.type subscription.id %}",
            dataType: "json",
            data: data,
            async: false,
            success: function(data) {
                if (data.success) {
                    nodes = data.message.nodes;
                    links = data.message.links;
                }
            }
        });
        generate_graph(nodes, links);
    });

    $(document).on('click', '#add_campaign', function(e) {
        // Collect id and type for each visible non-campaign node.
        var data = [];
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].visible && nodes[i].type != 'Campaign') {
                data.push({'id': nodes[i].id, 'type': nodes[i].type})
            }
        }

        var name = $("#campaign_names option:selected").text();
        var confidence = $("#confidence_values option:selected").text();
        // Stringify the resulting list of objects. They will be de-serialized
        // on the other end.
        $.ajax({
            type: "POST",
            data: { 'name': name,
                    'nodes': JSON.stringify(data),
                    'confidence': confidence },
            url: "{% url 'relationships_service-views-add_campaign' %}",
            success: function(data) {
                $('#campaign_results').text(data.message);
            }
        });
    });

    $("#relationships_service_button").click(function() {
        // don't load data more than once.
        // allows switching of tabs without losing graph.
        if (nodes.length > 0) {
            return;
        }

        // Get list of campaigns for selection.
        $.ajax({
            type: "GET",
            url: "{% url 'crits-campaigns-views-campaign_names' %}",
            async: false,
            success: function(data) {
                $.each(data, function (index, value) {
                    $('#campaign_names').append($('<option/>', { 
                        value: value,
                        text : value 
                    }));
                }); 
            }
        });

        $('#change_graph').trigger('click');
    });

    function generate_graph(nodes, links) {

        var visjs_options = {
            nodes: {borderWidth: 2, shadow: true},
            edges: {width: 1,       shadow: true},
            height: "800",
            width: "1000"
        }

        var visjs_container = document.getElementById('graph_container');

        var data_dump = "";
        visjs_data = {nodes: new vis.DataSet(nodes), edges: new vis.DataSet(links)};
        network = new vis.Network(visjs_container, visjs_data, visjs_options);

        $('#draggable').show()
        .css({'position': 'absolute', 'top': 60, 'left' : 20});
        $('#graph_config').show()
        .css({'position': 'absolute', 'top': 60, 'right' : 20});
        $('#graph_actions').show()
        .css({'position': 'absolute', 'top': 275, 'right' : 20});
        $('#obj_details').show()
        .css({'position': 'absolute', 'top': 500, 'left' : 20});

        // Configure vis.js events
        network.on('selectNode', update_details);

        // Reset the "details" box
        $('#obj_details').html('<p><b>Details:</b></p>');
    };

    function update_details(obj) {
        var selected_nodes = obj['nodes'];

        // If the selection contains more than one node, or no nodes, then ignore
        if(selected_nodes.length != 1) {
           $('#obj_details').html('<p><b>Details:</b></p>');
           return;
        }

        var selected_node_data = visjs_data['nodes'].get({filter: function(e, i, a) { return selected_nodes[0] == e['id']; }});
        var html_details = "<p><b>Details:</b></p><p><ul>";
        html_details += "<li>Type: " + selected_node_data[0]['group'] + "</li>";
        html_details += "<li>Link: <a target=\"blank\" href=\"" + selected_node_data[0]['url'] + "\">" + selected_node_data[0]['id'] + "</a></li>";
        html_details += "<li>Status: " + selected_node_data[0]['crits_status'] + "</li>";
        html_details += "</ul></p>";
        $('#obj_details').html(html_details);
    };

});

</script>
<style>
#draggable {
    width: 100px;
    z-index: 5;
    float: left;
}
#graph_config {
    width: 100px;
    z-index: 5;
    float: right;
}
#graph_actions {
    width: 100px;
    z-index: 5;
    float: right;
}
#obj_details {
    width: 300px;
    height: 200px;
    z-index: 5;
    float: left;
}
#graph_container {
    border: 1px solid #CCCCCC;
    margin-left: 150px;
    margin-right: 150px;
    width: 800,
    height: 1000
}
#graph_legend {
    margin-left: -15px;
}
</style>

<div id="relationships_service" width="100%">
    <div id="graph_container">
    </div>
    <div id="graph_config" class="ui-widget-content" style="display: none;">
        <div style="vertical-align: top; padding-top: 8px;">Depth:
            <input id="node_depth" size="3" type="text" value="3" name="depth" style="vertical-align: top;"></input>
        </div>
        <select id="node_types" name="types" size=11 multiple>
            <option value="Actor" selected="selected">Actors</option>
            <option value="Backdoor" selected="selected">Backdoors</option>
            <option value="Campaign" selected="selected">Campaigns</option>
            <option value="Certificate" selected="selected">Certificates</option>
            <option value="Domain" selected="selected">Domains</option>
            <option value="Email" selected="selected">Emails</option>
            <option value="Event" selected="selected">Events</option>
            <option value="Exploit" selected="selected">Exploit</option>
            <option value="Indicator" selected="selected">Indicators</option>
            <option value="IP" selected="selected">IPs</option>
            <option value="PCAP" selected="selected">PCAPs</option>
            <option value="RawData" selected="selected">Raw Data</option>
            <option value="Sample" selected="selected">Samples</option>
            <option value="Target" selected="selected">Targets</option>
        </select>
        <button id="change_graph" style="vertical-align: top;">Update</button>
    </div>
    <div id="graph_actions" class="ui-widget-content" style="display: none;">
        <select id="campaign_names" name="campaigns">
        </select>
        <select id="confidence_values" name="confidence_values">
            <option value="low" selected="selected">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
        <button id="add_campaign" style="vertical-align: top;">Add Campaign</button>
        <div id="campaign_results"></div>
    </div>
    <div id="draggable" class="ui-widget-content" style="display: none;">
        <ul id="graph_legend">
            <li style="color: #900C0C;"><span style="color: #000;">Actors</span></li>
            <li style="color: #5A2C75;"><span style="color: #000;">Backdoors</span></li>
            <li style="color: #FF3737;"><span style="color: #000;">Campaigns</span></li>
            <li style="color: #FFA837;"><span style="color: #000;">Certificates</span></li>
            <li style="color: #33EB33;"><span style="color: #000;">Domains</span></li>
            <li style="color: #FF8989;"><span style="color: #000;">Emails</span></li>
            <li style="color: #B05151;"><span style="color: #000;">Events</span></li>
            <li style="color: #8CA336;"><span style="color: #000;">Exploits</span></li>
            <li style="color: #B08751;"><span style="color: #000;">Indicators</span></li>
            <li style="color: #90570C;"><span style="color: #000;">IPs</span></li>
            <li style="color: #FFCC89;"><span style="color: #000;">PCAPs</span></li>
            <li style="color: #4A7797;"><span style="color: #000;">Raw Data</span></li>
            <li style="color: #8CCBF8;"><span style="color: #000;">Samples</span></li>
            <li style="color: #4AA24A;"><span style="color: #000;">Targets</span></li>
        </ul>
    </div>
    <div id="obj_details" class="ui-widget-content" style="display: none;">
     <p><b>Details:</b></p>
    </div>
</div>
