
{% load service_tags %}

<script>
    function create_indicator(otype, ind_type, value, me) {
        data = {
            'value': value,
            'oid': "{{ subscription.id }}",
            'ind_type': ind_type,
            'obj_type': otype
        };
        url = "{% url 'crits-indicators-views-indicator_from_tlo' %}";
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    $('#relationship_box_container').parent().html(data.message);
                    if (typeof me !== "undefined") {
                        $(me).attr('title', 'Success!');
                    } else {
                        $('#creation_result').text("Success!");
                    }
                    $(me)
                    .css({
                        'background-image': "url('/css/images/ui-icons_70b2e1_256x240.png')"});
                } else {
                    if (typeof me !== "undefined") {
                        $(me).attr('title', data.message);
                    } else {
                        $('#creation_result').html(data.message);
                    }
                }
            }
        });
    }

    function clear_create_clicks() {
        $('.create_raw_indicator').off('click');
    }

    function generate_dialog(me) {
        $('#create_raw_indicator_dialog').show();
        $('#create_raw_indicator_dialog').dialog({
            title: 'Create Indicator',
            autoOpen: false,
            modal: true,
            width: "auto",
            height: "auto",
            buttons: {
                'Add Indicator': function() {
                    otype = "{{ subscription.type }}";
                    ind_type = $('#raw_indicator_type').text();
                    value = $('#raw_indicator_value').val();
                    create_indicator(otype, ind_type, value, me);
                    $(this).dialog('close');
                },
                'Cancel': function() {
                    $(this).dialog('close');
                }
            }
        }).dialog('open');
    }

    $(document).ready(function() {

        clear_create_clicks();

        $('.create_raw_indicator').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var me = $(this);
            var value = me.closest('tr').find('a').text();
            var type = me.attr('data-type');
            otype = "{{ subscription.type }}";
            create_indicator(otype, type, value, me);
        });
        $(document).on('click', '.edit_raw_indicator', function(e) {
            var me = $(this);
            var value = me.closest('tr').find('a').text();
            var type = me.attr('data-type');
            $('#raw_indicator_value').val(value);
            $('#raw_indicator_type').text(type);
            $('#creation_result').text('');
            generate_dialog(me);
        });
    });
</script>

{% regroup analysis.results by subtype as result_list %}
{% for result_subtype in result_list %}
    {% if result_subtype.grouper == 'add_threatgrid_indicators' %}
        <h4>Add sample Indicators:</h4>
        <table class="chart">

        {% for result in result_subtype.list %}
        {% if forloop.first %}
        {# Create the header the first time through the loop. #}
        <thead>
            <colgroup>
                <col width="15px" />
                <col width="80%" />
                <col width="15%" />
            </colgroup>
            <tr>
                <th colspan="2">Result</th>
                <th>Existed On Run</th>
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                <td class="ui-icon ui-icon-plusthick create_raw_indicator" data-type="{{ result.Type }}"></td>
                <td class="ui-icon ui-icon-pencil edit_raw_indicator" data-type="{{ result.Type }}"></td>
                <td class="potential_indicator">
                    {% if result.result %}
                    <a class="potential_link" href="{% url 'crits-core-views-global_search_listing' %}?search_type=global&q={{result.result|urlencode}}">{{result.result}}</a>
                    {% endif %}
                </td>
                <td>
                    <span class="indicator_exists" style="float:left;">
                        {% if result.exists %}
                            <a href="{% url 'crits-indicators-views-indicator' result.exists %}">Existed</a>
                        {% endif %}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <h4> {{ result_subtype.grouper }} </h4>
        <table class="chart">

        {% for result in result_subtype.list %}
        {% if forloop.first %}
        {# Create the header the first time through the loop. #}
        <thead>
            <tr>
                <th>Result</th>
                {% for key, value in result.items %}
                {% if key != 'subtype' and key != 'result' %}
                <th>{{ key|capfirst }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr>
                <td>
                    {% if result.result %}
                    <a href="{% url 'crits-core-views-global_search_listing' %}?search_type=global&q={{result.result|urlencode}}&force_full=1">{{result.result}}</a>
                    {% endif %}
                </td>
                {% for key, value in result.items %}
                {% if key != 'subtype' and key != 'result' %}
                    {% if key == 'md5' %}
                        <td>
                        {% if value %}
                        <a href="{% url 'crits-core-views-global_search_listing' %}?search_type=global&q={{value}}">{{value}}</a>
                        {% endif %}
                        </td>
                    {% else %}
                        <td>
                        {# If this is a list, make a subtable #}
                        {% if value|needs_subtable %}
                            <table class="chart">
                            {% for subrow in value %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                {% for k2, v2 in subrow.items %}
                                    <th>{{ k2|capfirst }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% endif %}
                                <tr>
                                {% for k2, v2 in subrow.items %}
                                    <td>{{ v2 }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        {# Otherwise, just put the result #}
                        {% else %}
                            {{ value }}
                        {% endif %}
                        </td>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

{% empty %}
    {% if analysis.status == 'started' %}
        <p> This service is still running. </p>
    {% else %}
        <p> This service produced no results. </p>
    {% endif %}
{% endfor %}
