
{% load service_tags %}

<style>
    #gmap {
        margin: 0 auto;
        display: block;
    }
</style>

<script>
    function create_indicator(value, me) {
        data = {
            'value': value,
            'oid': "{{ subscription.id }}",
            'obj_type': 'IP',
            'ind_type': 'Port',
        };
        url = "{% url 'crits-indicators-views-indicator_from_tlo' %}";
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    $('#relationship_box_container').parent().html(data.message);
                    if (typeof me !== "undefined") {
                        $(me).attr('title', 'Success!');
                    } else {
                        $('#creation_result').text("Success!");
                    }
                    $(me)
                    .css({
                        'background-image': "url('/css/images/ui-icons_70b2e1_256x240.png')"});
                    } else {
                        if (typeof me !== "undefined") {
                            $(me).attr('title', data.message);
                        } else {
                            $('#creation_result').html(data.message);
                        }
                    }
            }
        });
    }

    function clear_create_clicks() {
        $('.create_indicator').off('click');
    }

    $(document).ready(function() {
        clear_create_clicks();
        $('.create_indicator').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var me = $(this);
            var value = me.closest('tr').find('a').text();
            create_indicator(value, me);
        });

        // Add Google Map image based on latitude and longitude from results.
        var latitude = $('tr:has(td:contains("latitude"))').children("td:last").text().trim()
        var longitude = $('tr:has(td:contains("longitude"))').children("td:last").text().trim()
        if(latitude && longitude) {
            gmap = '<img id="gmap" src="https://maps.googleapis.com/maps/api/staticmap?center='+latitude+','+longitude+'&zoom=12&size=400x400&markers=color:blue%7Clabel:S%7C'+latitude+','+longitude+'"></img>';
            $('h4:contains("General")').next().after(gmap);
        }
    });
</script>

{% regroup analysis.results by subtype as result_list %} 
{% for result_subtype in result_list %}
    <h4> {{ result_subtype.grouper }} </h4>
    <table class="chart">

    {% for result in result_subtype.list %}
    {% if forloop.first %}
    {# Create the header the first time through the loop. #}
    <thead>
        <colgroup>
            <col width="20%" />
            <col width="15px" />
            <col width="80%" />
        </colgroup>
        <tr>
            <th>Type</th>
            <th class="ui-icon ui-icon-plusthick" title="Add Indicator"></th>
            <th>Value</th>
        </tr>
    </thead>    
    <tbody>
    {% endif %}
        <tr>
            <td class="potential_indicator">
            {% if result.result and result.type == "port" %}
                 <a class="potential_link" href="{% url 'crits-core-views-global_search_listing' %}?search_type=global&q={{result.result|urlencode}}">{{result.result}}</a>
            {% else %}
                 {{ result.result }}
            {% endif %}
            </td>

            {% if result.type == "port"  %}
                <td class="ui-icon ui-icon-plusthick create_indicator" data-type="{{ result.type }}"></td>
            {% else %}
                <td/>
            {% endif %}

            <td>
                {{ result.data }}
            </td>
        </tr>
    {% endfor %} 
    </tbody>
    </table>
{% empty %}
    {% if analysis.status == 'started' %}
        <p> This service is still running. </p>
    {% else %}
        <p> This service produced no results. </p>
    {% endif %}
{% endfor %} 
