{% block content %}

<div style="text-align: center; padding-bottom: 10px; margin-top: 15px;">
	<button id="import_delete" class="import_btn">Import Selected & Delete Others</button>
	<button id="import_keep" class="import_btn">Import Selected & Keep Others</button>
</div>

<style>
    #poll_data tbody td:nth-child(2) {
        text-align: center;
    }
    #poll_data tbody td:nth-child(3) {
        text-align: center;
    }
    #block_data tbody td:nth-child(2) {
        text-align: center;
    }
</style>

{% if poll %}
<h3 class="titleheader">
    <span>Summary
    {% if poll.failures %}
         - <font color="red">{{ poll.failures }}</font></span>
    {% endif %}
</h3>
<table class="chart" id="poll_data" width="100%" style="margin-bottom: 15px;">
    <colgroup>
        <col width="175px">
        <col width="75px">
        <col width="85px">
        <col>
        <col>
        <col width="275px">
        <col>
    </colgroup>
    <thead>
        <th>Poll/Upload Time (UTC)</th>
        <th>Msg ID or Reference</th>
        <th>Block Count</th>
        <th>Source</th>
        <th>Feed or File Name</th>
        <th>Time Range (UTC)</th>
        <th>Analyst</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ poll.poll_time }}</td><td>{{ poll.taxii_msg_id }}</td>
            <td>{{ poll.block_count }}</td><td>{{ poll.source }}</td>
            <td>{{ poll.feed }}</td><td>{{ poll.timerange }}</td>
            <td>{{ poll.analyst }}</td>
        </tr>
    </tbody>
</table>

{% if poll.blocks %}
<script>
    var pid = "{{ poll.poll_id }}";
    var cur_page = {{ poll.page }};
    var max_page = {{ poll.pages }};
    var cur_mult = {{ poll.mult }};
</script>
<style>
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.num {
    padding: 4px 25px;
    display: block;
}

.mult {
    padding: 4px 15px 4px 25px;
    display: block;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

.num:hover, .mult:hover {
    background: #F3D673;
}

.page_btn {
    cursor: pointer;
</style>
<br>
<div style="position:absolute; text-align:left; z-index:1;">
Select:
<a href="#" id="sel_all">All</a> |
<a href="#" id="sel_none">None</a> |
<a href="#" id="sel_page">Page</a>
</div>
<div class="dropdown" style="position:absolute;width:95%;text-align:center;">
    <span id="page_first" class="page_btn" style="padding-right: 10px; font-size: 120%;">&laquo;</span>
    <span id="page_prev" class="page_btn" style="padding-right: 10px;">&lt;</span>
    <span class="scrolldrop">Page {{ poll.page }} of {{ poll.pages }}
      <div class="dropdown-content" style="right: 48%; padding-bottom: 15px;">
        {% for i in poll.page_range %}
        <a class="page_btn num" id="{{ i }}">{{ i }}</a>
        {% endfor %}
      </div>
    </span>
    <span id="page_next" class="page_btn" style="padding-left: 10px;">&gt;</span>
    <span id="page_last" class="page_btn" style="padding-left: 10px; font-size: 120%;">&raquo;</span>
</div>
<div class="dropdown" style="text-align:right;">
  Blocks/Page: <span class="dropbtn">{{ poll.mult }}<br>
      <div class="dropdown-content" style="right: 0%;">
        <a class="page_btn mult" id="10">10</a>
        <a class="page_btn mult" id="25">25</a>
        <a class="page_btn mult" id="50">50</a>
        <a class="page_btn mult" id="100">100</a>
      </div>
    </span>
</div>
{% endif %}

    {% for block in poll.blocks %}
    <div class="content_box" style="margin-top:2px;">
        <h3 class="titleheader">
            <input id="{{ block.id }}" class="cbx" type="checkbox" value="{{ block.id }}" {% if block.selected %}checked {% endif %}/>
            <span>Block {{ block.num }}: {{ block.block_label }}</span>
            <span style="float:right; margin-right:5px; margin-top:4px; font-size:75%;"><a href="{% url 'taxii_service-views-download_taxii_content' block.id %}">Download</a></span>
        </h3>
        <table class="chart" id="block_data" width="100%">
            <colgroup>
                <col width="150px">
                <col width="50px" class='ccount'>
                <col>
            </colgroup>
            <thead>
                <th>Type</th>
                <th>Count</th>
                <th>Results</th>
            </thead>
            <tbody>
                {% if block.failures %}
                <tr>
                    <td><font color="red">Failures</font></td><td>{{ block.failures|length }}</td>
                    <td>
                        <ul>
                        {% for failure in block.failures %}
                            <li>
                                <b><font color="red">{{failure.1}}</b>: {{failure.0}}</font>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% for tlo_type, tlos_of_type in block.tlos.items %}
                <tr>
                    <td>{{ tlo_type }}</td><td>{{ tlos_of_type|length }}</td>
                    <td>
                        <ul>
                        {% for tlo in tlos_of_type %}
                            <li>
                                {{ tlo.1 }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
<br><hr><br>
{% endif %}
{% endblock %}

<script>
    $(".import_btn").click(function() {
        $("#taxii-loader").show();
        if ($("#results_container").is(":visible")) {
            $("#results_container").slideToggle();
        }

        import_blocks(pid, this.id);
    });

    $('#sel_all').click(function() {
        select_deselect_all(1);
        $('.cbx').prop('checked', true);
    });

    $('#sel_none').click(function() {
        select_deselect_all(0);
        $('.cbx').prop('checked', false);
    });

    $('#sel_page').click(function() {
        if ($("input:checkbox.cbx:first").is(':checked')) {
            get_checked_reget_results(cur_page, cur_mult, 0);
        } else {
            get_checked_reget_results(cur_page, cur_mult, 1);
        }
    });

    $(".cbx").click(function() {
        if ( $(this).is(':checked') ) {
            var check = 1;
        } else {
            var check = 0;
        }
        $.ajax({
            type: "GET",
            url: "{% url 'taxii_service-views-select_deselect_block' 'xxx' 'yyy' %}".replace('xxx', this.id).replace("yyy", check),
        }).done(function(data) { // run on successful request
            if (!data.success) { // field was updated
                $("#error_container").children(".taxii_notice").html(data.msg);
                $("#current_state").text("Problems");
            }
        }).fail(function(data) { // server error
            $("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
            $("#current_state").text("Problems");
        });
    });

    $(".page_btn").click(function() {
        $("#current_state").text("Processing...");
        $("#taxii-loader").show();

        if (this.id == "page_prev" && cur_page > 1) {
            var page = cur_page - 1;
            var mult = cur_mult;
        } else if (this.id == "page_next" && cur_page < max_page) {
            var page = cur_page + 1;
            var mult = cur_mult;
        } else if (this.id == "page_first") {
            var page = 1;
            var mult = cur_mult;
        } else if (this.id == "page_last") {
            var page = max_page;
            var mult = cur_mult;
        } else if (!isNaN(this.id)) {
            if (this.classList.contains('mult')) {
                var mult = this.id;
                var page = cur_page;
            } else if (this.classList.contains('num')) {
                var page = this.id;
                var mult = cur_mult;
            } else {
                var page = cur_page;
                var mult = cur_mult;
            }
        } else {
            var page = cur_page;
            var mult = cur_mult;
        }
        get_checked_reget_results(page, mult);
    });

    function get_checked_reget_results(page, mult, all = -1) {
        if (all == 1) {
            chkd = get_checkboxes();
            uchkd = [];
        } else if (all == 0) {
            uchkd = get_checkboxes();
            chkd = [];
        } else {
            chkd = get_checked();
            uchkd = get_unchecked();
        }
        var data = JSON.stringify({"checked": chkd, "unchecked": uchkd });
        $.ajax({
            type: "POST",
            url: "{% url 'taxii_service-views-get_import_preview' 'xxx' 'yyy' 'zzz' %}".replace('xxx', pid).replace("yyy", page).replace("zzz", mult),
                        data: data,
                        dataType: "json",
        }).done(function(data) { // run on successful request
            if (data.success) { // at least some feeds were successfully processed
                $("#results_container").html(data.html);
                $("#current_state").text("STIX Import Preview");
                $("#view_saved").prop('hidden', false);
            } else { // some issue occurred
                $("#error_container").children(".taxii_notice").html(data.msg);
                $("#current_state").text("Problems");
            }
        }).fail(function(data) { // server error
            $("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
            $("#current_state").text("Problems");
        }).always(function() {
            $("#taxii-loader").hide();
        });
    }

    function select_deselect_all(check) {
        $.ajax({
            type: "GET",
            url: "{% url 'taxii_service-views-select_deselect_all' '1.1' 'xxx' %}".replace('1.1', pid).replace('xxx', check),
        }).done(function(data) { // run on successful request
            if (!data.success) { // field was updated
                $("#error_container").children(".taxii_notice").html(data.msg);
                $("#current_state").text("Problems");
            }
        }).fail(function(data) { // server error
            $("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
            $("#current_state").text("Problems");
        });
    }

    function get_checkboxes() {
        var idSelector = function() { return this.id; };
        return $("input:checkbox.cbx").map(idSelector).get();
    }

    function get_checked() {
        var idSelector = function() { return this.id; };
        return $("input:checkbox:checked.cbx").map(idSelector).get();
    }

    function get_unchecked() {
        var idSelector = function() { return this.id; };
        return $("input:checkbox:not(:checked).cbx").map(idSelector).get();
    }

    function import_blocks(poll_id, action) {
        $("#current_state").text("Processing...");
        $("#taxii-loader").show();
        var data = JSON.stringify({"poll_id": poll_id, "action": action});
        $.ajax({
            type: "POST",
            url: "{% url 'taxii_service-views-import_taxii_data' %}",
            data: data,
            dataType: "json"
        }).done(function(data) { // run on successful request
            if (data.success) { // at least some feeds were successfully processed
                $("#results_container").html(data.html);
                $("#current_state").text("STIX Import Results");
                $("#view_saved").prop('hidden', false);
                $("#results_container").slideToggle();
            } else { // some issue occurred
                $("#error_container").children(".taxii_notice").html(data.msg);
                $("#current_state").text("Problems");
            }
        }).fail(function(data) { // server error
            $("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
            $("#current_state").text("Problems");
        }).always(function() {
            $("#taxii-loader").hide();
        });
    }


    $(".scrolldrop").hover(function() {

         var $container = $(this),
             $list = $container.find("div"),
             $anchor = $container.find("a"),
             height = $list.height() * 1.1, // make sure there is enough room at the bottom
             multiplier = height / 400;     // needs to move faster if list is taller

        // need to save height here so it can revert on mouseout
        $container.data("origHeight", $container.height());

        // make sure dropdown appears directly below parent list item
        $list
            .show()
            .css({
                paddingTop: $container.data("origHeight")
            });

        // don't do any animation if list shorter than max
        if (multiplier > 1) {
            $container
                .css({
                    height: 400,
                    overflow: "hidden"
                })
                .mousemove(function(e) {
                    var offset = $container.offset();
                    var relativeY = ((e.pageY - offset.top) * multiplier) - ($container.data("origHeight") * multiplier);
                    if (relativeY > $container.data("origHeight")) {
                        $list.css("top", -relativeY + $container.data("origHeight"));
                    };
                });
        }

    }, function() {

        var $el = $(this);

        // put things back to normal
        $el
            .height($(this).data("origHeight"))
            .find("div")
            .css({ top: 0 })
            .hide()
            .end()
            .find("a");

    });
</script>
