{% load url from future %}

{% block content %}

{% if poll_msg %}
<div class="content_box">
    <h3 class="titleheader">
        Status: <b>{% if status %}Success{% else %}Failure{% endif %}</b>
    </h3>
    <div class="content_body">
        {% if status %}Message:{% else %}Reason:{% endif %} {{ poll_msg }}
    </div>
</div>
<br>
<table class="chart" id="poll_data" width="100%" style="margin-bottom: 15px;">
    <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
        <th>Hostname</th>
        <th>Feed Name</th>
        <th>Message ID</th>
        <th>Block Count</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
    </thead>
    <tbody>
    {% for poll in polls %}
        <tr>
            <td>{{ poll.hostname }}</td><td>{{ poll.feed }}</td>
            <td>{{ poll.mid }}</td><td>{{ poll.blk_count }}</td>
            <td>{{ poll.start }}</td><td>{{ poll.end }}</td>
            {% if poll.success %}
                <td><font color="green">Poll Successful</font></td>
            {% else %}
                <td><font color="red">{{ poll.msg }}</font></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div style="text-align: center; padding-bottom: 10px; margin-top: 15px;">
	<button id="import_delete" class="import_btn">Import Selected & Delete Others</button>
	<button id="import_keep" class="import_btn">Import Selected & Keep Others</button>
</div>
{% endif %}

<style>
    #poll_data tbody td:nth-child(2) {
        text-align: center;
    }
    #poll_data tbody td:nth-child(3) {
        text-align: center;
    }
    #block_data tbody td:nth-child(2) {
        text-align: center;
    }
</style>

{% if poll %}
<h3 class="titleheader">
    <span>Summary
    {% if poll.failures %}
         - <font color="red">{{ poll.failures }}</font></span>
    {% endif %}
</h3>
<table class="chart" id="poll_data" width="100%">
    <colgroup>
        <col width="175px">
        <col width="75px">
        <col width="85px">
        <col>
        <col>
        <col width="275px">
        <col>
    </colgroup>
    <thead>
        <th>Poll/Upload Time (UTC)</th>
        <th>Msg ID or Reference</th>
        <th>Block Count</th>
        <th>Source</th>
        <th>Feed or File Name</th>
        <th>Time Range (UTC)</th>
        <th>Analyst</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ poll.poll_time }}</td><td>{{ poll.taxii_msg_id }}</td>
            <td>{{ poll.block_count }}</td><td>{{ poll.source }}</td>
            <td>{{ poll.feed }}</td><td>{{ poll.timerange }}</td>
            <td>{{ poll.analyst }}</td>
        </tr>
    </tbody>
</table>

{% if poll.blocks %}
<script>
	    $('#sel_all').click(function() {
            $('.cbx').prop('checked', true);
	    });

	    $('#sel_none').click(function() {
            $('.cbx').prop('checked', false);
	    });
</script>
<br>
<div style="position:absolute; text-align:left; z-index:1;">
<a href="#" id="sel_all">Select All</a> |
<a href="#" id="sel_none">Select None</a>
</div>
{% endif %}

    {% for block in poll.blocks %}
    <div class="content_box">
        <h3 class="titleheader">
            <input id="{{ block.id }}" class="cbx" type="checkbox" value="{{ block.id }}" checked />
            <span>Block {{ block.num }}: {{ block.block_label }}</span>
            <span style="float:right; margin-right:5px; margin-top:4px; font-size:75%;"><a href="{% url 'taxii_service.views.download_taxii_content' block.id %}">Download</a></span>
        </h3>
        <table class="chart" id="block_data" width="100%">
            <colgroup>
                <col width="150px">
                <col width="50px" class='ccount'>
                <col>
            </colgroup>
            <thead>
                <th>Type</th>
                <th>Count</th>
                <th>Results</th>
            </thead>
            <tbody>
                {% if block.failures %}
                <tr>
                    <td><font color="red">Failures</font></td><td>{{ block.failures|length }}</td>
                    <td>
                        <ul>
                        {% for failure in block.failures %}
                            <li>
                                <b><font color="red">{{failure.1}}</b>: {{failure.0}}</font>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% for tlo_type, tlos_of_type in block.tlos.items %}
                <tr>
                    <td>{{ tlo_type }}</td><td>{{ tlos_of_type|length }}</td>
                    <td>
                        <ul>
                        {% for tlo in tlos_of_type %}
                            <li>
                                {{ tlo.1 }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
<br><hr><br>
{% endif %}
{% endblock %}

<script>
    $(".import_btn").click(function() {
        var idSelector = function() { return this.id; };
        var checked = $(":checkbox:checked.cbx").map(idSelector).get();
        if (checked.length === 0) {
            alert("You must select at least one block to import");
        }
        else {
		    $("#taxii-loader").show();
		    if ($("#results_container").is(":visible")) {
                $("#results_container").slideToggle();
		    }

            import_blocks(checked, this.id);
        }
	});

    function import_blocks(ids, action) {
		$("#current_state").text("Processing...");
		$("#taxii-loader").show();
        var data = JSON.stringify({"ids": ids, "action": action});
		$.ajax({
			type: "POST",
			url: "{% url 'taxii_service.views.import_taxii_data' %}",
			data: data,
			dataType: "json"
		}).done(function(data) { // run on successful request
			if (data.success) { // at least some feeds were successfully processed
				$("#results_container").html(data.html);
				$("#current_state").text("TAXII Import Results");
                $("#view_saved").prop('hidden', false);
				$("#results_container").slideToggle();
			} else { // some issue occurred
				$("#error_container").children(".taxii_notice").html(data.msg);
				$("#current_state").text("Problems");
			}
		}).fail(function(data) { // server error
			$("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
			$("#current_state").text("Problems");
		}).always(function() {
			$("#taxii-loader").hide();
		});
    }
</script>
