{% extends "base.html" %}

{% block content %}

{% include "resources/taxii_style_tag.html" %}
{% include "resources/taxii_agent_jscript_tag.html" %}

<div id="taxii_service" width="100%" style="text-align: center">

	<h1 id="current_state">Poll for TAXII Messages</h1>
	<a href="#" id="view_saved">View Saved Poll/Upload Results</a>

	<div id="taxii-loader" style="text-align: center; display: none;">
		<img src="/images/chasingloader.gif" width="75px;"/>
		<br />
	</div>

{% if form.feeds.field.choices|length == 0 %}
    <br><br><br><br><br>
    <h3 style="color:red;">Before polling for a TAXII message, you must first <a href="{% url 'crits-services-views-detail' 'taxii_service' %}">configure a TAXII server</a> and feed.</h3>
{% else %}
	<section id="taxii_config_container" class="taxii-container">
		<form id="taxii_config_form">{% csrf_token %}
			<table id="taxii_form_table">
                <tr>
	                <td colspan="2">
		                <strong class="taxii_ctype_label required">
			                {{ form.feeds.label }}
		                </strong>
		                <em>({{ form.feeds.field.choices|length }})</em>
		                <br/>
		                {{ form.feeds }}
	                </td>
                </tr>
			</table>

            <strong class="taxii_ctype_label required">
                {{ form.import_all }} {{ form.import_all.label }}<br><br>
                {{ form.use_last }} {{ form.use_last.label }}
            </strong>

            <section id="timestamp_container" class="taxii-container" style="display: none;">
                <strong class="taxii_ctype_label required">
                    {{ form.begin.label }}
                </strong><br/>
                {{ form.begin }}
                <br/><br/>
                <strong class="taxii_ctype_label required">
                    {{ form.end.label }}
                </strong><br/>
                {{ form.end }}
            </section>

		</form>
        {{ form.errors }}
		<div style="text-align: center; padding-bottom: 10px; margin-top: 15px;">
			<button id="taxii_submit" class="taxii_btn">Poll</button>
		</div>
	</section>

	<section id="results_container" class="taxii-container" style="display: none; text-align: left;">
	</section>

	<section id="error_container" class="taxii-container" style="display: none;">
		<div class="taxii_notice"></div>
		<br/>
		<button class="back_to_cfg taxii_btn">Back</button>
	</section>
{% endif %}
</div>
{% endblock %}
