{% block content %}


<style>
    #ta_results tbody td:nth-child(2) {
        text-align: center;
    }
    #ta_results tbody td:nth-child(3) {
        text-align: center;
    }
    #ta_results tbody td:nth-child(8) {
        text-align: center;
    }
</style>

{% with polls.unimported as upolls %}
<div class="content_box">
    <h3 class="titleheader">
        <span>Unimported STIX - Count: {{ upolls|length }}</span>
    </h3>
    {% if upolls %}
        <table class="chart" id="ta_results" width="100%">
            <colgroup>
                <col width="175px">
                <col width="140px">
                <col width="85px">
                <col>
                <col>
                <col width="275px">
                <col>
                <col width="120px">
            </colgroup>
            <thead>
                <th>Poll/Upload Time (UTC)</th>
                <th>Msg ID or Reference</th>
                <th>Block Count</th>
                <th>Source</th>
                <th>Feed or File Name</th>
                <th>Time Range (UTC)</th>
                <th>Analyst</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for meta in upolls %}
                <tr>
                    <td><a class="pollid" href="#" id="{{ meta.poll_id }}">{{ meta.time }}</a></td>
                    <td>{{ meta.msg_id }}</td>
                    <td>{{ meta.count }}</td><td>{{ meta.source }}</td>
                    <td>{{ meta.feed }}</td><td>{{ meta.timerange }}</td>
                    <td>{{ meta.analyst }}</td>
                    <td><a href="{% url 'taxii_service-views-download_taxii_content' meta.poll_id %}">Download</a>
                        | <a class='delete_poll' href="#" id="{{ meta.poll_id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endwith %}
<br>
{% with polls.errored as epolls %}
<div class="content_box">
    <h3 class="titleheader">
        <span>STIX With Errors During Import - Count: {{ epolls|length }}</span>
    </h3>
    {% if epolls %}
        <table class="chart" id="ta_results" width="100%">
            <colgroup>
                <col width="175px">
                <col width="140px">
                <col width="85px">
                <col>
                <col>
                <col width="275px">
                <col>
                <col width="120px">
            </colgroup>
            <thead>
                <th>Poll/Upload Time (UTC)</th>
                <th>Msg ID or Reference</th>
                <th>Block Count</th>
                <th>Source</th>
                <th>Feed or File Name</th>
                <th>Time Range (UTC)</th>
                <th>Analyst</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for meta in epolls %}
                <tr>
                    <td><a class="pollid" href="#" id="{{ meta.poll_id }}">{{ meta.time }}</a></td>
                    <td>{{ meta.msg_id }}</td>
                    <td>{{ meta.count }}</td><td>{{ meta.source }}</td>
                    <td>{{ meta.feed }}</td><td>{{ meta.timerange }}</td>
                    <td>{{ meta.analyst }}</td>
                    <td><a href="{% url 'taxii_service-views-download_taxii_content' meta.poll_id %}">Download</a>
                        | <a class='delete_poll' href="#" id="{{ meta.poll_id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endwith %}
{% endblock %}

<script>
    $('a.pollid').click(function() {
        $("#current_state").text("Processing...");
        $("#taxii-loader").show();
        var pid = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "{% url 'taxii_service-views-get_import_preview' '1234' '1' '10' %}".replace("1234", pid),
        }).done(function(data) { // run on successful request
            if (data.success) { // at least some feeds were successfully processed
                $("#results_container").html(data.html);
                $("#current_state").text("STIX Import Preview");
                $("#view_saved").prop('hidden', false);
            } else { // some issue occurred
                $("#error_container").children(".taxii_notice").html(data.msg);
                $("#current_state").text("Problems");
            }
        }).fail(function(data) { // server error
            $("#error_container").children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
            $("#current_state").text("Problems");
        }).always(function() {
            $("#taxii-loader").hide();
        });
    });

    $('a.delete_poll').click(function() {
		$.ajax({
			context: this,
			type: "POST",
			url: "{% url 'taxii_service-views-list_saved_polls' %}",
			data: this.id,
			dataType: "json"
		}).done(function(data) { // run on successful request
			if (data.success) { // at least some feeds were successfully processed
				$(this).closest('tr').remove();
				show_container("Saved TAXII Polls", result_ctr);
                view_saved.prop('hidden', true);
			} else { // some issue occurred
				error_ctr.children(".taxii_notice").html(data.msg);
				show_container("Problems", error_ctr);
			}
		}).fail(function(data) { // server error
			error_ctr.children(".taxii_notice").text("An unexpected server error occurred - notify an administrator.");
			show_container("Problems", error_ctr);
		}).always(function() {
			$("#taxii-loader").hide();
		});
    });
</script>
